<div id=about-message class=message-box>

  <h2>About the Halifax Crime Heatmap</h2>

</div>


<div id=header>
  <h1>Halifax<span>Crime</span></h1>
  <div id='animation-control-button' class=button>
    <div class='pause'></div>
  </div>
</div>

<div id=options-area>
  <a href='#' id='options-button' class='button button-right'>options</a>
  <a href='#' id='years-button' class='button button-right'>years</a>
  <a href='#' id='about-button' class='button button-right'>about</a>

  
</div>

<div id='heatmapArea'></div>


<div id='progress-bar-background'></div>
<div id='progress-bar-container'>
  <div id='progress-bar-pointer-container'>
    <div id='progress-bar-pointer' onclick='void(0)'></div>
    <div id='progress-bar-instructions'>drag me<br>to skip days</div>
  </div>
  <div id='progress-bar'></div>
</div>
